@model TodoApp.ENTITIES.EntityClass.Task


    <tr>
        <td><input type="checkbox" name="IsComleted" checked="@Model.IsComleted" /></td>
        <td>@Model.Text</td>
        <td>@Model.CreatedOn.Value.ToShortDateString()</td>
        @if (Model.DueDate == null)
        {
            <td>Görev henüz tamamlanmadı.</td>
        }
        else
        {
            <td>@Model.DueDate.Value.ToShortDateString()</td>

        }
        <td>
            @Html.ActionLink("Düzenle", "Edit", "Task", new { id = Model.ID }, new { @class = "btn btn-success btn-xs" }) |

            @Html.ActionLink("Delete", "Delete", "Task", new { id = Model.ID }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>

